.secao-planos {
  background-color: var(--purple-accent);
  color: var(--peach-section);
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.secao-planos h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--bg-prumary);
}

.secao-planos p {
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto 10px;
  line-height: 1.6;
  color: var(--bg-prumary);
}

.secao-planos .destaque {
  color: var(--green-icon);
  font-weight: bold;
}

.secao-planos .enfase {
  font-weight: bold;
  margin-top: 15px;
}

.caixa-planos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  color: #000;
}

.plano {
  background-color: var(--peach-section);
  border-radius: 12px;
  padding: 25px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.plano .btn{
  color: #ba7afa;
}

.plano h2 {
  text-align: center;
  color: var(--purple-accent);
}

.plano .preco {
  font-size: 1.4rem;
  text-align: center;
  margin: 10px 0;
}

.plano .riscado {
  text-decoration: line-through;
  font-size: 0.9rem;
  color: var(--purple-accent);
}

.plano ul {
  padding-left: 20px;
  margin: 15px 0;
  font-size: 0.95rem;
  line-height: 1.6;
}

.caixa-planos p{
  color: var(--purple-accent);
}

.plano button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  background-color: var(--blue-button);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.plano .btn:hover {
  background-color: var(--purple-accent);
  color: #fff;
}

.destaque-plano {
  border: 2px solid #ba7afa;
}

@media (max-width: 700px) {
  .caixa-planos {
    flex-direction: column;
    align-items: center;
  }

  .plano {
    width: 90%;
  }
}